$white: #ffffff;
$grey: #868686;

.detail-card {
  background: $white;
  max-width: 550px;
  margin-top: 20px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: 'Roboto', sans-serif;

  .card-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    .close-btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      font-weight: bold;
      color: $grey;
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }
  }
  .card-body {
    color: $grey;
    line-height: 1.6;
  }
}
